.rec_wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.rec_heading {
    font-family: "Didact Gothic, sans-serif";
    font-weight: 700;
    text-align: center;
    font-size: 1.6rem;
    width:80%;
    margin: 15px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.rec_artists-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.rec_artist-img {
    width: 100%;
    height: 100px;
    border-top: 1px solid black;
}

.rec_artist-name {
    font-size: .8rem;
    text-align: center;
    margin: 2px;
}

.rec_artist {
    display: flex;
    width: 100px;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.199);
}

.rec_artist:hover {
    background: rgb(241, 235, 235);
    transform: scale(1.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.185);
    cursor: pointer;
}





@media only screen and (max-width: 1020px) {
    .rec_heading {
        font-size: 1.3rem;
    }
}