.search_Wrapper{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;
}

  .no_results-message{
    margin-top: 2px;
    color:#1DB954;
    font-weight: 500;
    margin-top: 10vh;
    text-align: center;
    text-shadow: 0px 0px .3px rgb(34, 35, 38);
    line-height: 1.2;
    font-size: 1.6rem;
  }



