
.search_wrapper{


  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 

}

.search_wrapper input{
  font-size:1.25rem;
  outline:none;
  max-width:600px;
  box-sizing: border-box;
outline: none;
border:.3px solid rgba(0, 0, 0, 0.363);
  transition: all .3s ease-in-out;
   padding:10px 20px;

}
.search_wrapper span{
  background-color: #1DB954;
  color:white;
  font-size:1.25rem;
  box-sizing: border-box;
  display: inline-block!;
  padding:13px 20px;
  border-bottom-right-radius: 3px 10px;
 

   cursor: pointer;
}


.search_wrapper input::placeholder{
 text-align: center;

  font-size: 0.9rem;
  color:rgba(0, 0, 0, 0.2);
  letter-spacing: 0.6px;
}
.option_buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}





.search_icon:hover{

background-color: rgb(22, 155, 69);
transition: all .1s ease-in-out;
}


  .option_button{
    position: relative;
    font-size: 1.125rem;
    margin:0px 10px;
    padding:10px 45px;
    cursor: pointer;
    background:rgb(16, 63, 63) !important;
   border:none!important;
    outline: none;
    border-radius: 3px;
    
  }



  .option_button:hover{
    
    transform:scale(1.1);
    transition: all .1s ease-in-out;
  }

  #searchBar_counter{
    position: absolute;
    z-index:100;
    top:-10px;
    right:-10px;
    color:black;
    padding:2px 10px;
    background: rgb(231, 238, 234);
    font-family: none;
    font-size: 1.2rem;
    border-radius: 2px;
   
    text-align: center;
    box-shadow: 0px 0px 2px 1px rgba(34, 35, 38 , 0.3);
  }


 @media only screen and (max-width: 1020px) {

  .option_button{
    padding:9px 30px;
    font-size: 1.125rem;
  }
  .SearchBar {
    margin-top: 1.24rem;
    margin-bottom: 1.24rem;
  }
 
.search_wrapper input{
  width:400px;
}
  .input_search {
    margin-bottom: 1rem;
  }
 
}

@media only screen and (max-width: 700px) {

  .option_button{
    padding:8px 20px;
    font-size: 1rem;
  }
  .search_wrapper input{
    width:250px;
  }

}