.playlist_Wrapper{

  max-width:600px;
  display: flex;
  margin:0 auto;
  flex-direction: column;
  align-items: center;
}

  .playlist_input {
    width: 100%;
    border: 0;
    outline: 0;
    text-align: center;
    color:rgba(0, 0, 0, 0.808);
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .Playlist-save, .Playlist-Delete {
    cursor: pointer;
    width:10rem;
    border-radius: 3px;
    border-width: 0px;
   padding:10px 10px;
   margin:8px;
    font-size: .83rem;
    transition: background-color .25s;
    font-weight: 700;
    outline: none;
  }


  .playlist_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .Playlist-save:hover {
    background-color: rgb(22, 170, 74)!important;
    transform:scale(1.1);
    transition: all .1s ease-in-out;
  }

  .Playlist-Delete:hover {
    background-color: rgb(22, 170, 74)!important;
    transform:scale(1.1);
    transition: all .1s ease-in-out;
  }







  .saved{
    display:none;
    padding:20px;
    margin:0 auto;
    color:rgb(21, 146, 65);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
#playListName{
  border-radius: 0px;
}


@media only screen and (max-width: 768px) {
  .Playlist{
  
    width:100%;
  }
}

